body {
    font-family: "Avenir Next";
  }
<style>
    @font-face {
        font-family: 'Karakaze';
        src: url('https://hallot65.github.io/noisy-mackrel/path/to/karakaze-R.ttf') format('ttf');
    }

    .navbar-brand {
        font-family: 'Karakaze', sans-serif;
    }
</style>
